a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  /*padding: 0;
  max-width: 1440px;*/
}

.gallery-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}


.gallery-item:hover {
    transform: translateY(0);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.gallery-link {
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  /*max-width: 360px;
  max-height: 200px;*/
}
